table {
    width: 100%;
}

.actions-header{
    text-align: center;
}

.actions {
    display: flex;
    justify-content: center;
}

.buttons {
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn-blue {
    background-color: var(--btn-blue);
}