.container {
    background-color: var(--grey);
    padding-top: 10px;
    padding-bottom: 20px;
}

.card {
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.content {
    margin-top: 20px;
}

form {   
    display: flex;
    flex-direction: column;
}

.btn-success{
    background-color: var(--btn-green);
}


button {
    margin-top: 10px;
    margin-right: 5px;
}

.selects {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select1, .select2 {
    width: 50%;
}

.select2 {
   margin-left: 12px;
}

.date-input {
    width: 49.5%;
}