/* You can add global styles to this file, and also import other style files */

:root{
    --grey: #e9eaef;
    --btn-green: #096b35;
    --btn-blue: #173559;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--grey);
}
