.container {
    background-color: var(--grey);
    padding-top: 10px;
    padding-bottom: 20px;
}

.card , .tarefas-registradas{
    width: 92%;
    margin-left: auto;
    margin-right: auto;
}

.tarefas-registradas{
    margin-top: 20px;
}
.card-header{
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 3.1rem;
    font-weight: 300;
}

.content {
    padding: 5px;
    margin-top: 20px;
}

.content p {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
}

.tab {
    display: flex;
}

.add-button {
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-blue);
}

.add-button i {
   margin-bottom: 2px;
}

.card-filtro {
    margin-top: 20px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

form {   
    display: flex;
    flex-direction: column;
}

button i {
    padding-left: 5px;
}

.btn-success{
    background-color: #096b35;
}

.id-input {
    width: 20.5%;
}

.selects {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.select1, .select2 {
    width: 50%;
}

.select2 {
   margin-left: 12px;
}